<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rocky</title>
    <!-- Se enlazan ambos estilos: app.css (global) y home.css (específico) -->
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}"> <!-- Cambiar estilos al de css de este archivo   -->
</head>
<body>
<div class="home-container">
    <section class="welcome">
        <h1>Registremos ahora unos datos básicos</h1>
        <p class="lead">Aquí ingresarás tu nombre, apellido, edad, peso, altura, y más.</p>
    </section>
</div>
</body>
</html>

