spring:
  datasource:
    url: jdbc:mysql://${LOCAL_DB_HOST}:${LOCAL_DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=${TZ}&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    
    hikari:
      connection-init-sql: SET NAMES utf8mb4;

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    baseline-on-migrate: true
    baseline-version: 1

  thymeleaf:
    cache: false

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: "http://${SERVER_IP}:${SERVER_PORT}/login/oauth2/code/{registrationId}"


server:
  port: ${SERVER_PORT}
  address: ${SERVER_INTERFACE}
  error:
    include-message: always



logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    seventh_art: DEBUG
